[2019-11-19 17:22] FelixRodriguezJara opened #6 "Ksops with ArgoCD - key stored in GCP KMS."
Hi there!

I am trying to use KSops integration with ArgoCD. I would like to use a key stored in Google Cloud PlatformKMS due to requirements of the project.

I have followed the instructions and patched ArgoCD Repo Server to include the plugin and the Configmap with the flag. I see the command is correct and the repo server seems to sucessfully start.

From ArgoCD, I have tried to create a new si

[2019-11-19 17:37] devstein commented on #6
@FelixRodriguezJara

Hi! 😃

Glad to hear you are using `KSOPS` to manage your secrets with GCP KMS. You are receiving that error because `Argo CD` lacks the necessary Google Cloud credentials to decrypt the secret. We use AWS KMS and we inject the credentials by adding the following to our `KSOPS` patch:

[code]

So you need to do the equivalent for GCP credentials and make sure the credentials yo

[2019-11-19 22:03] FelixRodriguezJara commented on #6
Thank you very much for the prompt response and for the great input and recommendations, @devstein ! I'm looking forward to testing it tomorrow. Will let you know how it goes.

Looking ahead, another thing that comes to my mind know is, in GCP, I just need to set an env variable (GOOGLE_APPLICATION_CREDENTIALS) that points to the gcs-credentials.json file location. The thing is, I'm going to have

[2019-11-19 22:16] devstein commented on #6
Sounds great!

You are correct. This is a limitation the first time you deploy Argo CD with the credentials to manage its own secrets. The solution is to manually deploy Argo CD via the CLI (`kustomize build --enable_alpha_plugins | kubectl apply -f -`)  and its secrets the first deployment. After this, assuming your GCP credentials do not change, Argo CD will be able to manage itself and all othe

[2019-11-20 10:00] FelixRodriguezJara commented on #6
Good morning, @devstein.

As per your instructions, I have added the environment variable to the patch:

[code]

This is the secret that I have created inside the argocd namespace with the gcp-credentials.json file (the same I used for sops to get the key to encrypt the secret):
[code]
And this is the argocd-repo-server, containing the environment variable and the pointer to the secret:

[code]
Wi

[2019-11-20 17:18] devstein commented on #6
@FelixRodriguezJara

To my understanding, setting GCP credentials is slightly different from AWS. `GOOGLE_APPLICATION_CREDENTIALS` should point to the path where the `gcp-credentials.json` are mounted, not the value of the credentials itself.

See this [example on StackOverflow](https://stackoverflow.com/questions/47021469/how-to-set-google-application-credentials-on-gke-running-through-kubernetes

[2019-11-21 09:11] FelixRodriguezJara commented on #6
It works, @devstein! Thank you very much, that was it, my bad. As you said, I have mounted the secret into a volume and then referenced the path to the key file and it worked :)

I am going to work on building the pod with the custom image instead of the init container, it takes quite long to start up... will let you know how it goes.

Thank you very much!

Kind regards.

[2019-11-23 17:50] devstein commented on #6
@FelixRodriguezJara Glad to hear!

[2019-11-23 17:50] #6 closed

[2020-01-06 10:35] iatzmon opened #10 "Generating secret name with hash"
Hi,
I'm trying to use the plugin in my local environment and I'm able to encode my secrets but the name of the generated secret doesn't include a hash. I tried to add the `kustomize.config.k8s.io/needs-hash: "true"` annotation to the secret definition, but it seems this annotation is only supported in Kustomize v3.2.2 and onwards.
Should I try to compile the plugin using v3.2.2 or is there a bette

[2020-01-06 17:18] devstein commented on #10
Hi @iatzmon

Unfortunately, `kustomize` restructured their Go packages after the `v3.2.0` release, so `v3.2.0` is the latest version of sigs.k8s.io/kustomize/v3 go package. I’m going to update `ksops` to use the new version of kustomize Go API `sigs.k8s.io/kustomize/api` this week and update the installation script accordingly.

However, in the meantime can you try running the following **outside

[2020-01-07 09:50] ldue opened #11 "ksops - ArgoCD setup"
I am currently trying to find a good setup for secret encryption and work on a demo setup with ksops and argocd for evaluation.
I set up a k8s cluster using minikube and installed argocd using: `kubectl apply -n argocd -f https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml`.

Then I applied the patch for the alpha plugins as in the README:
`kubectl patch -n argocd cm a

[2020-01-07 15:35] iatzmon commented on #10
Hi @devstein,

Thanks for the quick response!
I tried to follow your instructions but they don't seem to work for me.
I'm not sure which version of kustomize is getting installed since when I run `kustomize version` I'm getting
`{Version:unknown GitCommit:$Format:%H$ BuildDate:1970-01-01T00:00:00Z GoOs:darwin GoArch:amd64}`
and after I rebuild ksops and try to run `kustomize build --enable_alpha_p

[2020-01-08 19:27] devstein commented on #10
@iatzmon Do you mind checking out my branch `devstein/kustomize/api/v0.3.1` and try re-running the `install-kustomize.sh`, then `build-and-install-ksops.sh` and then seeing if it works? This should update you to the latest `kustomize`

[2020-01-08 19:36] devstein commented on #11
@ldue Do you mind commenting the output of `kubectl -n argocd get <pod-name> -o yaml --export` here and I can help you debug?

[2020-01-09 10:51] iatzmon commented on #10
@devstein I had to change the value `TEST_PLUGIN_PATH` in `build-and-install-ksops.sh` since it is hardcoded to your system and after that I managed to compile `kustomize` and the plugin. The strange thing is that the `kustomize.config.k8s.io/needs-hash: "true"` annotation is still being ignored during the build. How can I verify that I'm using the latest kustomize? `kustomize version` still retur

[2020-01-09 17:24] devstein commented on #10
@iatzmon Fixed the hardcode path (sorry about that)! The `version` command of the Go installation is broken but you are guaranteed to be on the latest ([see the docs](https://github.com/kubernetes-sigs/kustomize/blob/master/docs/INSTALL.md)) as long as there isn't another kustomize installation in your $PATH.

Would you mind commenting an example of what you are trying to do and I can debug locall

[2020-01-09 17:34] devstein commented on #10
@iatzmon Can you verify that this annotation functionality works with Go plugins, on a closer look at the [kustomize docs](https://github.com/kubernetes-sigs/kustomize/blob/644f2ddcdc3123b285f86e3e1d288b540042e4a1/docs/plugins/README.md#generator-options) it only mentions setting annotations for **exec plugins**

[2020-01-10 08:51] FelixRodriguezJara opened #13 "How to control SOPS plugin version?"
Hello,

We are using ksops integration with ArgoCD and it works very well. Due to problems we found while deploying secrets based on different SOPS versions (we were encrypting with 3.5.0 and the plugin uses 3.4.0), now, we are looking at how to control the version of SOPS the plugin uses. Could you please guide me on how to achieve this?

Thank you very much.

Kind regards.

[2020-01-10 17:25] devstein commented on #13
Hi @FelixRodriguezJara

Are you able to decrypt secrets with `3.5.0` that were encrypted with `3.4.0` ? If so, this https://github.com/viaduct-ai/kustomize-sops/pull/12 that I will merge today will fix this issue for you because it upgrades the SOPS Go module.

If not, I can consider adding SOPS version functionality in the generator resource, an optional `sops_version: 3.4.0`  parameter, but idea

[2020-01-10 19:17] devstein commented on #13
@FelixRodriguezJara Try out the new `v2.0.0` release and let me know if this is still an issue! Just update your repo server patch or custom build via https://github.com/viaduct-ai/kustomize-sops#ksops-repo-sever-patch

[2020-01-11 09:40] FelixRodriguezJara commented on #13
Thank you very much for your quick reaction, Devin! :)

We will test this as soon as possible and will let you know the result.

We haven't tried decrypting secrets encrypted with 3.4.0 using sops 3.5.0, but it should work, shouldn't it?

Having the repo server using the latest version would be okay, anyway, I think that it would be nice to be able to control, with a variable as you mentioned, whi

[2020-01-11 22:03] devstein commented on #13
3.4.0 appears to work with SOPS 3.5.0 for me!

I'm hesitant to add additional functionality unless this becomes a re-occurrring issue, but will keep this flagged for the future!

Also, we created a [public KSOPS docker image](https://hub.docker.com/r/viaductoss/ksops) to speed up build times for both the init container and custom build approaches.

[2020-01-11 22:04] devstein commented on #11
@ldue Try to update the patch to the latest version of the README and let me know if this issue persists

[2020-01-15 15:58] #11 closed

[2020-01-16 12:02] FelixRodriguezJara commented on #13
Hello Devin,

I have tried using the image you have built instead of mine (I have created a new one using the new version of the dockerfile) and it doesn´t work. It does work with the image I have built though. The initialization error I am getting is the following one:

`Error: failed to start container "argocd-repo-server": Error response from daemon: OCI runtime create failed: container_linux.g

[2020-01-16 16:41] devstein commented on #13
@FelixRodriguezJara Sorry for the confusion, the `ksops` image doesn't have Argo CD installed. It only builds the `ksops` plugin and `kustomize`. So you still need to create your own image or use the init container, which is much faster now that `ksops` and `kustomize` are already built.

Here is the customer Docker image that builds off the `ksops` image
[code]

[2020-01-21 07:58] FelixRodriguezJara commented on #13
Alright, thank you very much, Devin, that makes sense. I close the issue then.

Thank you very much!

Kind regards.

[2020-01-21 07:58] #13 closed

[2020-02-19 22:23] streetmapp opened #22 "Example failing with GCP KMS"
I've gone through the example on the README and in trying the final step of `kustomize build --enable_alpha_plugins .`, I get the following error:

`Error: trouble decrypting file ./secret.enc.yaml: No keys found in file`

Any thoughts on what could be going on?

[2020-02-19 23:28] devstein commented on #22
Hi @streetmapp thanks for making an issue! That error could be one of two issues:

1. You didn't import the PGP keys before running `sops -e secret.yaml > secret.enc.yaml`. If so, you should run `gpg --import ./test/key.asc`, then re-follow the README.
2. You didn't add your `gcp_kms` key to the `.sops.yaml` file before running `sops -e secret.yaml > secret.enc.yaml`. See the [SOPS README](https:/

[2020-02-20 00:19] devstein commented on #10
I'll try implementing this natively in this plugin in the future!

[2020-02-20 16:34] #22 closed

[2020-02-20 19:02] streetmapp commented on #22
So I guess it can be chalked up to number 2, but that's pretty bizarre. Mainly because I did get an encrypted file when i ran `sops -e secret.yaml > secret.enc.yaml`. But did notice that yesterday when I did this, the `gcp_kms` key had no value compared to when I just ran it now.

[2020-03-30 02:27] HumairAK opened #24 "Using PGP w/ ArgoCD"
Trying to use PGP decryption, similar to how it's described in the README.md for local kustomize builds, but with ArgoCD, and I'm encountering a few issues - hoping to get some clarification. I'm using a custom repo-server (much like the one found [here](https://argoproj.github.io/argo-cd/operator-manual/custom_tools/) at the bottom), this is the one:

[code]
And I'm patching ksops onto the repose

[2020-03-30 15:04] devstein commented on #24
Hi @HumairAK

At a glance, this seems like it could be a permission issue. How are you mounting and importing the GPG private keys? What user are you when you run that command from within the pod?

This doesn't appear to an issue with the plugin, but if you can share your kustomize patch I'm happy to try help debug!

[2020-03-31 01:59] HumairAK commented on #24
Hey @devstein !
The patch is the same as the one here [https://github.com/viaduct-ai/kustomize-sops#ksops-repo-sever-patch](url).

My workflow to import the keys is:
[code]
I should mention that I'm running Argocd on Openshift, which, if you are unfamiliar, is built on top of kubernetes (so kubectl works as usual). I don't _think_ it should make much difference though (but if it works for you on k

[2020-03-31 07:42] dependabot-preview[bot] opened #25 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/go.mod`.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/viaduct-ai/update-logs/28071374).

[2020-03-31 14:22] #25 closed

[2020-03-31 14:39] devstein commented on #24
Thanks for the detailed response @HumairAK !

I still think this is a permission issue. GPG is strict about what users have access to which keys. When you run that workflow to import the key, you are making the key available to the `root` user, but Argo CD is running as the `argocd` user. You can see [full Argo CD Dockerfile here](https://hub.docker.com/r/argoproj/argocd/dockerfile). Two approache

[2020-03-31 20:27] davinkevin commented on #10
I'm also waiting for this one ❤️

[2020-03-31 22:03] devstein commented on #10
@davinkevin Noted! I've been hoping Kustomize would enable this functionality natively for Go plugins, but I'll see if prioritize in the coming weeks 😄

[2020-04-04 22:00] #24 closed

[2020-04-05 17:48] #10 closed

[2020-04-15 20:55] HumairAK commented on #24
Okay figured it out - I had to add the following env variable to the container spec in the repo-server patch:
[code]

[2020-05-04 04:23] james-callahan commented on #24
Does anyone have an demo of doing this?

[2020-05-04 15:07] devstein commented on #24
Hi @james-callahan 👋

What do you mean by demo?

[2020-05-05 00:52] james-callahan commented on #24
I got one working for myself: https://github.com/james-callahan/example-gitops

[2020-05-13 11:01] halilkaya opened #29 "NewGenArgs arguments failing"
Hi,

I guess after the latest changes, when I try to install ksops with the command below, I get the error.

[code]

I have also added a comment into the related commit:
https://github.com/viaduct-ai/kustomize-sops/commit/61ce22fb412f910250be5cb59099131ab68097ee#r39118374

Thanks,
Halil

[2020-05-13 11:02] halilkaya commented on #29
It might be caused by my Go version. Could you please also add the required Go version in README?

[2020-05-13 11:12] halilkaya commented on #29
Yes, the problem is about the Go version. I was using 1.14. When I use 1.13, it still fails but when it successes when specifying the 1.13 branch like:

[code]

[2020-05-13 11:20] halilkaya commented on #29
However, it still fails when installing with make: :(

[code]

[2020-05-13 14:20] devstein commented on #29
Hi @halilkaya !

Thanks for making an issue. I'm aware of this issue, we currently pin ksops to the latest `kustomize`, but the Go build for the latest kustomize version (v3.5.5) is broken.

I'll make a PR to pin `make kustomize` to install a compatible version (v3.5.4) while we wait on a response from the `kustomize` team

Related issues for tracking:

https://github.com/viaduct-ai/kustomize-sops

[2020-05-13 14:22] halilkaya commented on #29
Excellent! Thanks.

[2020-05-13 14:22] #29 closed

[2020-05-13 14:33] devstein commented on #29
@halilkaya `master` branch should now be fixed

[2020-05-27 21:33] pmcjury opened #33 "Using stringData does not generate new hash suffix"
Using `stringData` does not generate new hash suffix, it remains the same. However when using `data` new hashes are created as expected.

**Version**
Built ksops off master
[code]

Steps to reproduce:

1. create secret with "stringData" one with "data"

[code]

2. encrypt secrets

[code]

3. configure plugin and kustomize

[code]

4. `kustomize build --enable_alpha_plugins .`

[code]

5. edit secr

[2020-05-27 21:37] devstein commented on #33
@pmcjury Thanks for making an issue! This is actually an [open issue in kustomize](https://github.com/kubernetes-sigs/kustomize/issues/2466). I'm subscribed to the issue and will close this once it's fixed upstream in kustomize itself

[2020-05-27 21:47] pmcjury commented on #33
Ahh no problem, I just noticed this as well when looking for a solution. thanks.

[2020-05-28 16:36] devstein commented on #33
Looks like it will be fixed in the next kustomize release https://github.com/kubernetes-sigs/kustomize/issues/2466

[2020-06-01 00:57] daurnimator opened #35 "Call out kustomize.config.k8s.io/behavior in documentation"
Trying to figure out how to merge secrets, I discovered the kustomize annotation `kustomize.config.k8s.io/behavior`. Which can be used to merge secrets (e.g. if you want to add or override a secret field in an overlay)

[code]

Upstream docs: https://github.com/kubernetes-sigs/kustomize/tree/b679e33d47e689c077dfec224aa9d2b59f8fda2f/docs/plugins#generator-options
Example usage with KSOPS: https://g

[2020-06-01 01:04] devstein commented on #35
Hey @daurnimator thanks for making an issue! To clarify, are you asking for us to add more details to [the documentation on using generator options w/ KSOPS](https://github.com/viaduct-ai/kustomize-sops#generator-options)? If so, what specifically would you like to see?

[2020-06-01 01:11] daurnimator commented on #35
Something like "to overlay a secret" or "to patch an existing secret". Perhaps an example that uses it?

I read through the docs and ctrl+f'd for relevant terms, but didn't find out that `kustomize.config.k8s.io/behavior` was what I was looking for until after reading through kustomize's plugin docs.

[2020-06-01 14:49] #35 closed

[2020-06-03 09:37] qcastel opened #37 "Doc tip"
I struggle quite a bit to install ksops on mac, mainly because I ended up trying many different things.
The main issue is that I did installed goland and kustomize via brew, which doesn't setup the GOPATH but more importantly, adding the GOPATH into PATH.

Therefore the install of kustomize didn't work and even if I first did try to compile kustomize directly (via their installation instructions),

[2020-06-03 14:17] #37 closed

[2020-06-03 14:20] devstein commented on #37
@qcastel Thanks for making an issue! I added a general section for verifying the installation of the example's requirements

[2020-06-03 14:25] qcastel commented on #37
No worries!
Just looked your PR and I did verify my 'go env' a few times.
I first tried by setting up the GOPATH but that wasn't enough. The main things was to make sure in mac os, the GOPATH was also in the PATH.

You may say it's particular to my setup and you may be right. Although I just used brew and as I actually don't develop in GO, so far, I haven't had the need to compile Golang apps.
Any

[2020-06-04 20:44] HumairAK opened #39 "Support for configmaps"
As far as I can tell, currently kustomize-sops doesn't support configmaps (if I'm wrong please let me know how I can do this!)

Usecase:
I am using a configmap generator to generate some configmaps, but the config files have sops encrypted values. Currently I can't both use this encrypted file in the configmapgenerator _and_ the ksops generator -- would be nice if there was something like a kustom

[2020-06-04 20:58] devstein commented on #39
Hi @HumairAK thanks for making an issue!

By design `KSOPS` actually supports *any* K8s resource, including ConfigMaps. It is agnostic to the underlying resource type when decrypting, but it only works with valid encrypted K8s resources.

This behavior is different from the built-in `configMapGenerator` which generates a new K8s resource (ConfigMap) from local files (regardless if files are K8s re

[2020-06-04 22:46] #39 closed

[2020-06-04 22:46] HumairAK commented on #39
Yeah, this was my initial reaction as well. But I soon realized this might not work for me. So in my case I have a yaml file that I pull into the `configMapGenerator`. In this yaml file there are some values I"d like to encrypt. If I instead use a `ConfigMap` then the `yaml` file is included in the `ConfigMap` as a string, and afaik sops wouldn't be able to work here. Isn't that correct?

[2020-06-04 22:54] devstein commented on #39
@HumairAK Could you provide an example? What I am suggesting is

[code]

then you can run

[code]

and your generator looks like this:

[code]

Is this what you are trying to do?

Also, why do you need to use a `ConfigMap` as opposed to a `Secret` for this?

[2020-06-05 13:42] HumairAK commented on #39
In my example "value" above would need to be encrypted and not the entire value for the `data` field.

Though, I think your last point asks a very relevant question. Conceptually a configmap shouldn't have secret values, those should be stored as k8s secrets. I will probably re-adjust. Thanks for the quick responses @devstein !

[2020-06-21 12:53] daurnimator opened #42 "Generator configuration to support dummy data"
To allow untrusted users/systems to get a preview of their changes, it would be useful if KSOPS had some way to not actually attempt a decryption, and instead just use dummy data for all encrypted fields.

I'd use this from CI systems to validate that
  - yaml is valid
  - strategic merges succeed

It would also be useful for debugging production kustomize overlays without requiring access to prod

[2020-06-22 15:59] devstein commented on #42
Hi, @daurnimator thanks for making an issue!

I think this is a great idea for CI, but not sure it belongs in the KSOPS package itself. Off the top of my head, one CI solution could be:

1. Read in a new or changed encrypted file. We use a standard `.enc.yaml` suffix for all our encrypted resources
2. Delete the `sops` key from the secret
3. Change the values for all keys under `data` and `stringD

[2020-06-22 17:00] jetersen opened #43 "use goreleaser action to add ksops to github releases"
Instead of needing us to build ksops manually, would be nice if github actions had ksops built for us.

https://github.com/goreleaser/goreleaser-action

[2020-07-08 18:13] devstein commented on #43
@jetersen Thanks for making an issue! This is a great suggestion, but it looks like [goreleaser doesn't/can't support Go plugins](https://github.com/goreleaser/goreleaser/issues/662), so we can't automate the `ksops` build for releases 😞

Closing this, for now, feel free to reopen and if you know how to make it his work

[2020-07-08 18:13] #43 closed

[2020-07-08 18:14] #33 closed

[2020-07-11 16:56] pmcjury opened #46 "Add Provenance to Kustomize Build"
Add provenance to help manage updates across kustomize versions when building the plugin. This will help identify skew.

The same provenance _ldflags_ are used in the upstream tag for goreleaser. https://github.com/kubernetes-sigs/kustomize/blob/release-kustomize-v3.8/releasing/cloudbuild.sh#L65

[2020-07-13 00:27] #46 closed

[2020-07-19 21:35] clelange opened #50 "Make Dockerfile available"
Hey,

Thanks for making kustomize-sops openly available!

I'm looking into using KSOPS with Argo CD, but I need to patch SOPS to make it work with our OpenStack installation (in particular Barbican). Would it be possible that you made available the Dockerfile that you use to build the images on [docker hub](https://hub.docker.com/r/viaductoss/ksops/tags), e.g. add them to this repository?

That wo

[2020-07-19 21:46] devstein commented on #50
@clelange Thanks for making an issue! Happy to do so.

[2020-07-19 21:50] devstein commented on #42
@daurnimator I'm closing this because I think this is out of scope for KSOPS itself (per comment above)

[2020-07-19 21:50] #42 closed

[2020-07-19 21:54] #50 closed

[2020-07-20 08:05] clelange commented on #50
Awesome, that was fast, thanks a lot!
Would you be interested in getting the size of this image down, e.g. via a multi-stage build? I could look into this at the beginning of August.

[2020-07-20 16:43] devstein commented on #50
@clelange Great idea! Please feel free to contribute

[2020-08-25 05:59] daurnimator opened #53 "Rebuild with kustomize 3.8.1"
https://github.com/kubernetes-sigs/kustomize/releases/tag/kustomize%2Fv3.8.1

[2020-08-25 06:02] daurnimator opened #54 "Rewrite as external plugin?"
Trying to keep up with go plugin compatibility isn't easy. It also means that we need releases of this plugin to update kustomize.

Should this kustomize-sops get rewritten as an [`execPlugin`](https://kubernetes-sigs.github.io/kustomize/guides/plugins/execpluginguidedexample/)?

[2020-08-29 16:08] devstein commented on #53
@daurnimator the `master` branch is already [built with v3.8.1](https://github.com/viaduct-ai/kustomize-sops/blob/master/scripts/install-kustomize.sh#L8), but I will publish a new docker image with it as well

[2020-08-29 16:14] #53 closed

[2020-08-31 23:45] devstein commented on #54
@daurnimator I'll look into this. At a glance, it looks like we can support both the existing Go plugin pattern and an exec plugin pattern, so it can be left to user preference.

[2020-09-04 02:17] drGrove opened #58 "Misspelling 'files' causes segfault"
## Stacktrace
[code]

### Invalid File in question

[code]

[2020-09-04 02:56] devstein commented on #58
@drGrove Thanks for making an issue! Not sure how this has gone unnoticed for so long 😅

[2020-09-04 03:19] #58 closed

[2020-09-04 07:50] martinpovolny opened #60 "Problem with building after vbom.ml/util was moved."
I am having an issue building the project:
[code]

Seems the problem is fixed in upstream kubernetes:
https://github.com/kubernetes/kubernetes/pull/94451/files

Is this fixable by creating some dependency override? (not sure it that is possible, I am new to Go). Or do I have to report this in kustomize?

Thx!

[2020-09-04 07:56] martinpovolny commented on #60
adding
`replace vbom.ml/util => github.com/fvbommel/sortorder v1.0.1` to `go.mod` helped get over this

[2020-09-04 14:20] qcastel opened #61 "Brew package"
First, you may like to hear that we adopted Ksops as part of our deployment process. It is now use for deployment to prod but as well as deploying to our local environment :)

The feedback I have from the engineers joining our team is that it's boilerplate to install ksops. The main reason they gave me is that they tried the documentation steps and it doesn't work.
Indeed, on mac, you need to setu

[2020-09-05 23:16] devstein commented on #60
@martinpovolny Thanks for making an issue and posting the solution 😄

[2020-09-05 23:16] #60 closed

[2020-09-09 22:04] devstein commented on #61
@qcastel Thanks for making an issue and glad to hear you've adopted KSOPS!

I haven't thought of installing the package via homebrew. I will look into it and let you know! It would definitely make the initial setup and upgrades easier.

[2020-09-10 06:34] dependabot-preview[bot] opened #62 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/viaduct-ai/update-logs/46879242).

[2020-09-10 13:57] #62 closed

[2020-09-24 03:16] triThirty commented on #61
Hi @qcastel ,
I have met some problems when I tried to install ksops on my mac. I installed ksops according to READ.me step by step, but when I executed `kustomize build --enable_alpha_plugins`, it prompted `Error: loading generator plugins: plugin /Users/xxx/.config/kustomize/plugin/viaduct.ai/v1/ksops/ksops.so fails to load: plugin: not implemented` .
I read you said `Indeed, on mac, you need to

[2020-09-24 05:02] qcastel commented on #61
@triThirty In my company, which is on mac os, we ask every engineer that has to setup ksops to add the following setup at the end of their zshrc:

[code]

[2020-09-24 07:28] triThirty opened #66 "plugin was built with a different version of package internal/cpu"
When I run `kustomize build --enable_alpha_plugins --load_restrictor=LoadRestrictionsNone`, it prompts `Error: loading generator plugins: plugin /Users/root/.config/kustomize/plugin/viaduct.ai/v1/ksops/ksops.so fails to load: plugin.Open("/Users/root/.config/kustomize/plugin/viaduct.ai/v1/ksops/ksops"): plugin was built with a different version of package internal/cpu`

- kustomize version : `{Ver

[2020-09-24 14:19] devstein commented on #66
@triThirty Thanks for making an issue. It looks like you didn't install `kustomize` correctly. Can you run `make kustomize` while in the ksops repo?

If successful, your `kustomize version` output should look like

[code]

[2020-09-28 01:06] #66 closed

[2020-10-09 19:42] larsks opened #69 "Replace existing secret?"
I originally asked this over in kubernetes-sigs/kustomize#3078, but they tell me this behavior needs to be implemented by the individual generator plugins, so I am asking here!

I am trying to replace a `secretGenerator`-generated resource in a base with a plugin generated (ksops-encrypted) secret, and it's failing because:

[code]

In `../base/kustomization.yml`, I have:

[code]

In my local dire

[2020-10-09 20:38] devstein commented on #69
@larsks Thanks for making an issue! Yes it is possible, KSOPS use exec plugin annotations to control the generator `behavior` . You can see an example in the [README](https://github.com/viaduct-ai/kustomize-sops#encrypted-secret-overlays-w-generator-options). You'll just need to update your secret with the following annotation:

[code]

Let me know if this solves your issue! If so, feel free to cl

[2020-10-09 21:19] larsks commented on #69
@devstein thanks, that's exactly what I was looking for! Sorry for missing the bit in the README; I was looking all over for how to solve this from the `kustomize` side of things.

[2020-10-09 21:19] #69 closed

[2020-10-10 22:31] #54 closed

[2020-10-10 23:41] devstein commented on #54
@daurnimator I added support for using KSOPS as an exec plugin in the latest release. Try it out and let me know if you run into any issues!

[2020-10-11 07:41] daurnimator commented on #54
Awesome! just deployed it and works great.

Would you consider creating a docker image that contains *just* the ksops binary?

[2020-10-11 14:33] devstein commented on #54
@daurnimator Yes that's definitely doable. What is your use-case for it?

[2020-10-11 23:30] daurnimator commented on #54
https://github.com/hashbang/gitops/commit/e85956f43ed54b85af29867c5047b18abb627d46

[2020-11-05 18:10] streetmapp commented on #69
Commenting here because I am trying to do this with the exact use case you call out in the README about the base ArgoCD secret. I've tried both with replace and merge as I'm just adding keys for SSO configuration, and it's not taking on my end. ArgoCD continues to complain about there already being a resource with that secret name, so it can't create another resource with the same name.

[2020-11-05 18:13] devstein commented on #69
Hey, @streetmapp 👋 would you mind sharing your kustomize directory structure and Argo CD secret overlay manifest and I can help debug?

Also, what version of `ksops/kustomize` are you using?

[2020-11-05 18:26] streetmapp commented on #69
I'm presently using the kustomize patch to install ksops. Right now I am using image version `ksops:v2.1.1-go-1.14`. When I was running the latest version out there, I was getting Go version conflicts which was confusing to me since kustomize and ksops appeared to be built using the same versions of Go. I had moved to this version and things started working.

[code]
`kustomization.yaml`
[code]

`e

[2020-11-06 00:45] devstein commented on #69
@streetmapp At a glance, your setup looks correct. Can you share the exact error in Argo CD? I can try reproduce with the same docker image

[2020-11-06 15:48] streetmapp commented on #69
@devstein

Only FYI is that I had changed my setup to be a `merge` instead of the `replace`

[code]

[2020-11-06 21:36] devstein commented on #69
@streetmapp Unfortunately, I'm unable to reproduce on `v2.1.1`, but I know there is some tricky behavior in the ordering of evaluation for merging/replacing and the `namespace` transformer. Would you mind trying to add the `argo` namespace to your secret and retry?

[code]

Also, if you build the manifests locally do you still see this error? Or only in Argo CD?

[2020-11-06 21:53] streetmapp commented on #69
@devstein so that changes the error to the following

[code]

I'll have to get back to you on the local building. Thanks for your assistance on this.

[2020-11-10 17:50] devstein commented on #69
@streetmapp Were you able to reproduce locally?

[2020-11-11 20:50] streetmapp commented on #69
@devstein thanks for checking in. This is working now. The issue ended up being on my end, as I'm in the process of upgrading and was testing in parallel. And I ultimately had my versions crossed. So my initial tests were from the older version which not surprsingly had issues. Once I moved to test with the new version, the issues went away. Thanks again for the support.

[2020-11-11 20:51] devstein commented on #69
@streetmapp Glad to hear!

[2020-12-16 16:06] larsks opened #79 "Problems with Docker image (""

[2020-12-16 16:09] larsks opened #80 "Problems with Docker image ("plugin was built with a different version of package golang.org/x/sys/unix")"
I'm trying to run Ksops using the Docker image:

[code]

And this is throwing the error:

[code]

It looks like there may be build problems with the Docker image? I'm using the latest `v2` tagged image (`sha256:b9cae14e97b51181143bdd681fedbc1c6c5d402515ffc4d6d5f5875dfd072881`).

[2020-12-16 20:52] devstein commented on #79
Duplicate of https://github.com/viaduct-ai/kustomize-sops/issues/80

[2020-12-16 20:52] #79 closed

[2020-12-16 20:53] devstein commented on #80
@larsks Thanks for making an issue and provide instructions for reproducing!

Do you mind sharing the output of `kustomize version`?

[2020-12-16 20:58] larsks commented on #80
Sure. It's whatever you've got in the docker image:

[code]

I seem to hit the same issue if I build the image myself from the `Dockerfile` in the repository.

[2020-12-16 21:59] devstein commented on #80
@larsks The `v2.3.0` release was broken because `kustomize v3.9.0` is still in alpha and there is an outstanding issue that breaks kustomize plugins; however, this error is not related to your issue 😄

The issue you are seeing is because kustomize go plugins require the plugin to be built on the same _system_ with the same _go version_ as kustomize itself. In this case, `kusomize` is built within

[2020-12-16 21:59] #80 closed

[2020-12-16 22:11] larsks commented on #80
@devstein thanks for the reply, but I think you may be mistaken about a couple of things.

1. I'm not building ksops on my local machine. I'm just running the image from docker hub. Nothing is being compiled or built at any point.
2. There is no ksops in my home directory.
3. Even if there were, it wouldn't matter: recall the the container runs as `root`, and I'm not mounting anything on `root`'s

[2020-12-30 23:17] devstein commented on #61
Hi @qcastel, I looked into creating a Brew package for KSOPS, but it doesn't seem possible because setting up a `kustomize` plugin requires moving files into the `$XDG_CONFIG_HOME` directory, which Brew doesn't have permission to access by default.

As a substitute, I created a [script for downloading and installing the latest KSOPS exec plugin](https://github.com/viaduct-ai/kustomize-sops/pull/84

[2020-12-30 23:17] #61 closed

[2021-01-05 03:16] majinghe opened #85 "AccumulateFile error during using gpg"
Hi team

I am trying to use gpg to encrypt the sensitive data in kustomize files, below is my file layout:
[code]
Where `secret.env.yaml`,`secret.registry.yaml`,`secret.tls.yaml` are files encrypted with sops via gpg, below is my `.sops.yaml`:

[code]
For `secret.registry.yaml`, the context is :
[code]
The `kustomize` version is :
[code]
When i used ksops with Argocd, follow this instruction : htt

[2021-01-06 05:16] devstein commented on #85
Hi @majinghe thanks for making an issue! You are right that your issue is the same as #24 and there is an likely issue with your PGP setup.

Did you follow the [PGP w/ KSOPS demo](https://github.com/james-callahan/example-gitops/blob/master/argocd/argo-cd-import-pgp-key.yaml) mentioned in [this comment](https://github.com/viaduct-ai/kustomize-sops/issues/24#issuecomment-623784329)

[2021-01-06 05:33] xiaomage-devops commented on #85
@devstein yes, i setup the gpg according to the above example, but still have the issue. It is very strange, everything works fine on local env(mac), but do not  work fine on Argocd. I really do not understand what the error means.

[2021-01-07 03:12] majinghe commented on #85
@devstein  Any good suggestion for this?

[2021-01-07 16:51] devstein commented on #85
@majinghe From the [SOPS code](https://github.com/mozilla/sops/blob/master/usererrors.go#L38-L42), you can see the error is a failure to find the decryption key, so its definitely a configuration issue. Would you mind sharing the rendered `argocd-repo-server` Deployment manifest? Without seeing it, I don't have any direct suggestions

[2021-01-08 01:21] majinghe commented on #85
@devstein  Sure
[code]

[2021-01-08 03:35] majinghe commented on #85
@devstein  i totally agree your idea, i think the issue is about gpg configuration, i can not get the secret keys inside of `reop-server` pod,
[code]
The result is empty, but the keys exists
[code]

But i read the argocd docs as well as pgp docs, i really confused how the argocd get the private.

[2021-01-08 04:02] devstein commented on #85
@majinghe I read through the manifest, but still cannot spot the issue. I have two suggestion

1. Use `kubectl run` (or `kubectel apply` and `kubectl exec`) to run a `argocd-repo-server` pod with `bin/sh` as the command and the necessary volumes. Walk through each step `gpg -import `, etc to see if you run into the same issue (missing private key) and go from there to try to narrow the cause of th

[2021-01-08 08:11] majinghe commented on #85
@devstein  I find the root cause, i use the gpg generated with `passphrase`, when run the cmd
[code]
I am asked to input the `passphrase`, then it will works. I  am try to generate the key without `passphrase` .

Thanks a lot.

[2021-01-12 21:05] HumairAK opened #86 "Publish images to quay or another repo"
With docker's new rate-limiting policies, we're seeing more organizations offer non docker alternatives to source their images.

ArgoCD is also doing this see [here](https://github.com/argoproj/argo-cd/pull/5226) for more info. In the same vein, could we also get another non-docker alternative for the ksops builder image?

[2021-01-17 23:34] devstein commented on #86
@HumairAK Great idea, I'll tackle this in the coming weeks.

[2021-01-17 23:36] devstein commented on #85
@majinghe Glad to hear! Hopefully this issue will help someone else who runs into the same error

[2021-01-17 23:36] #85 closed

[2021-01-18 14:08] HumairAK commented on #86
Thanks @devstein !

[2021-01-19 01:01] #86 closed

[2021-01-19 01:16] devstein commented on #86
Published to [Quay.io](https://quay.io/repository/viaductoss/ksops?tab=info) in the latest release!

[2021-03-01 05:58] dependabot-preview[bot] opened #92 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/viaduct-ai/update-logs/69909518).

[2021-03-02 00:47] #92 closed

[2021-03-09 17:34] mgoodness opened #94 "`install-ksops-archive.sh` doesn't work; `make install-exec-only` does"
Trying to install the KSOPS exec plugin for kustomize v4.0.4. When I run `kustomize build --enable-alpha-plugins ...` after installing via `scripts/install-ksops-archive.sh`, I get

[code]

But the same command after installing via `make install-exec-only` (from `master`) works perfectly.

Help?

[2021-03-09 17:43] devstein commented on #94
@mgoodness Have you previously installed the KSOPS Go plugin? That error code usually indicates there is both a KSOPS Go and Exec plugin in the same directory. The `scripts/install-ksops-archive.sh` doesn't clean the KSOPS folders for you, but `make install-exec-only` does

[2021-03-09 18:25] mgoodness commented on #94
I'd tried removing the plugin directory altogether between attempts, but just ran `make clean` for good measure. Same result, I'm afraid.

[2021-03-10 16:51] mgoodness commented on #94
Eureka! The problem is that `scripts/install-ksops-archive.sh` installs the ksops-exec plugin as `$XDG_CONFIG_HOME/kustomize/plugin/viaduct.ai/v1/ksops-exec/ksops` when it should be `.../ksops-exec`. PR incoming.

[2021-03-11 19:03] #94 closed

[2021-03-25 17:45] sonatype-depshield[bot] opened #99 "DepShield encountered errors while building your project"
The project could not be analyzed because of build errors. Please review the [error messages here](https://depshield.sonatype.org/error/viaduct-ai/kustomize-sops/ORYKK9r4pHQtJ5MS2odAFA). Another build will be scheduled when a change to a manifest file<sup>*</sup> occurs. If the build is successful this issue will be closed, otherwise the [error message](https://depshield.sonatype.org/error/viaduct

[2021-03-26 10:41] polarctos opened #100 "Create new release based on SOPS 3.7.0"
SOPS was released in version 3.7.0.

The dependency was also already updated in `kustomize-sops` here: https://github.com/viaduct-ai/kustomize-sops/pull/98

Would it be possible to release a new version here?

One of the new features in SOPS 3.7.0 is `age` support, see [sops changelog](https://github.com/mozilla/sops/blob/v3.7.0/CHANGELOG.rst).

[2021-03-26 15:31] devstein commented on #100
@polarctos Done! Version `v2.5.1` will be released shortly

[2021-03-26 15:31] #100 closed

[2021-03-26 15:31] #99 closed

[2021-03-26 15:33] polarctos commented on #100
Thanks a lot! 👏

[2021-04-02 02:51] cguertin14 opened #101 "Docker arm64 support"
Hi, first of all thank you for maintaining this project, it is very useful and works really well.

I have a problem though on my raspberry pi where I want to use the docker image of the project compiled on `GOARCH=arm64`.
Currently, this doesn't seem possible. I followed [these steps](https://github.com/viaduct-ai/kustomize-sops#ksops-repo-sever-patch) to install the plugin in `argocd-repo-server`

[2021-04-07 14:18] #101 closed

[2021-04-09 09:14] majinghe opened #104 "typo error caused failure when using kops with argocd"
When try to enable kustomize plugins via Argo CD ConfigMap, if the data is

[code]
argocd  will show error
[code]
If change the "-" to "_", then the error  will fixed, that means configmap data should be like this
[code]

Argocd image is `quay.io/argoproj/argocd:v2.0.0`.

[2021-04-10 00:16] devstein commented on #104
Hi @majinghe thanks for making an issue! The error you are seeing is associate with a breaking change in the `kustomize` `v4` API and the corresponding version `v2.5.0` in KSOPS. `kustomize` switched all flags to be dash-separated to be compatible with `kubectl`.

What version of `kustomize` and KSOPS are you using in Argo CD? You can find it by running `kustomize version` from within the Argo CD

[2021-04-10 02:36] majinghe commented on #104
Hi @devstein  i used kops with argocd for a long time, i used latest argocd(v2.x) yesterday,  the kustomize version is
[code]

[2021-04-11 23:08] devstein commented on #104
Goo idea @majinghe , this could be helpful to future users as well. Can you update [your PR](https://github.com/viaduct-ai/kustomize-sops/pull/105/files) to add this comment? Something like:

[code]

[2021-04-11 23:08] #104 closed

[2021-04-23 03:54] daurnimator opened #110 "Deprecate Go plugin?"
#54 has been quite successful for us.

I think would be a good idea to encourage all users to use that form, and deprecate the library form.
That would reduce the maintenance burden and frequent releases required to keep up with kustomize.

[2021-04-27 10:26] veerendra2 opened #111 "is ksops v2.5.5 compitable with ArgoCD 2.0.1"
From [this](https://github.com/viaduct-ai/kustomize-sops#ksops-repo-sever-patch) section's code snippet. There is a comment `# Match Argo CD Go version`, but not in anywhere in docs that Golang has to match (Or did I miss?)

But I see
* ksops v2.5.5's Golang version is v1.14
* ArgoCD v2.0.1's Golang version is v1.16(From [here](https://github.com/argoproj/argo-cd/blob/master/docs/operator-manual/u

[2021-04-28 01:39] devstein commented on #111
@veerendra2 Thanks for making an issue and great question! I confirmed that KSOPS v2.5.5 works with ArgoCD 2.0.1

I'll remove the comment to avoid further confusion.

[2021-04-28 01:39] #111 closed

[2021-04-28 07:10] imranismail opened #112 "stringData merge not working"
For some reason, stringData merge not working when tested

[2021-04-28 13:47] devstein commented on #112
@imranismail Thanks for making an issue! Can you please let me know what type of KSOPs plugin (Go or Exec), what version of KSOPS, and what version of kustomize you are using?

[2021-05-04 21:00] #112 closed

[2021-05-04 21:01] devstein commented on #112
@imranismail Closing for now. Please re-open if this is still an issue

[2021-05-04 21:03] devstein commented on #110
@daurnimator Fair point. Let me investigate and will let you know.

[2021-05-24 19:46] ede-n opened #114 "Guidance on the version of ksops to use"
For a given version of ArgoCD, what is the recommended version of ksops to use?

In my specific case,

ArgoCD version: 2.0.1
Kustomize version(suggested by ArogCD [here](https://github.com/argoproj/argo-cd/blob/v2.0.1/hack/tool-versions.sh>)): 3.9.4
ArgoCD Go Version([here](https://github.com/argoproj/argo-cd/blob/33eaf11e3abd8c761c726e815cbb4b6af7dcb030/go.mod#L3)):  1.16
Kustomize-sops Go Versio

[2021-05-25 18:11] devstein commented on #114
Hi @ede-n ! Thanks for making an issue.

If you want to use kustomize `v3`, then you should use  KSOPS `v2.4.0` because it's pinned to the last version of kustomize `v3`. If don't have a preference for kustomize version, I recommend using the latest kustomize and KSOPS on `v2.5.5`

This comment was meant to be removed as [per this issue](https://github.com/viaduct-ai/kustomize-sops/issues/111). I'

[2021-05-25 18:13] #114 closed

[2021-05-25 21:49] jhoover4 opened #115 "ArgoCD Setup - Private Key Use?"
Hello!

I've followed the documentation for ArgoCD to install the integration, but I'm a little lost on how KSOPS retrieves the private key to decrypt with Argo. Is there a Secret I need to apply that I'm missing?

[2021-05-25 21:53] devstein commented on #115
Hi @jhoover4 , thanks for making an issue!

Are you using manually managed PGP keys or a key management service like AWS KMS?

If you are using manually managed PGP keys, this [previous issue](https://github.com/viaduct-ai/kustomize-sops/issues/24#issuecomment-623784329) might help you out

[2021-05-25 21:58] jhoover4 commented on #115
We're using Vault to manage our keys. I actually did see that issue and examples, but the manual key process seems a bit complicated :/

Any chance there's some way to pull the keys from vault?

[2021-05-25 22:04] devstein commented on #115
Have you looked at the [SOPS + Vault documenation](https://github.com/mozilla/sops#encrypting-using-hashicorp-vault)? It shows a way of accessing and authenticating to Vault remotely. To integrate with Argo CD, you would just need to make sure it has the necessary dependencies (`vault`) to authenticate with Vault to fetch the keys

[2021-05-25 22:10] jhoover4 commented on #115
Awesome! This looks promising. Would these commands go in the initContainer or somewhere else? (Forgive me K8s newbness)

[2021-05-25 22:15] devstein commented on #115
You would use an `initContainer` to install `vault`  and `KSOPS` in Argo CD. Check out the [Argo CD custom tooling docs](https://argoproj.github.io/argo-cd/operator-manual/custom_tools/)

With `vault` and `KSOPS` installed and the necessary Vault credentials (token) configure, Argo CD should be able to automatically decrypt the secrets

[2021-05-27 23:48] devstein commented on #115
@jhoover4 Closing this issue, but let me know if you have any more questions!

[2021-05-27 23:48] #115 closed

[2021-05-28 02:44] ede-n opened #116 "Decrypting with only one of the keys the secret is encrypted with, prints an error"
I have the following `.sops.yaml`, which uses both pgp and azure kv to encrypt kubernetes secrets. For decrypting, I am making only the PGP key available, so I receive this error on the first line and then the manifests are printed correctly. This makes it difficult to use `kustomize build --load_restrictor none --enable_alpha_plugins secret/smc/dev-cluster | kubectl apply -f -`. Is there a way to

[2021-05-28 02:45] ede-n commented on #114
Thanks for the quick turn around. That was helpful.

[2021-05-28 15:37] devstein commented on #116
Hi @ede-n , thanks for making an issue! This is a `SOPS` issue not a `KSOPS` issue, so it makes sense to route your question there.

From my understanding, `SOPS` uses whichever key was used to encrypt the file, so the error implies that the secret in `secret/smc/dev-cluster` was encrypted with a key from Azure Key Vault. Hope this helps!

[2021-05-28 15:37] #116 closed

[2021-06-01 12:38] jmclean-starburst opened #117 "build works with ksops-exec but not ksops"
KSOPS version: 2.5.5

Issue:
when I run `kustomize build --enable-alpha-plugins .` on a directory that leverages KSOPS, I receive the below (stack trace omitted)
[code]

Its interesting that if i change the `kind` of my generator manifest to `ksops-exec`, kustomize is able to build and spits out a perfect looking template

I cannot pivot to `ksops-exec` because I leverage the KSOPS plugin in ArgoC

[2021-06-01 14:32] devstein commented on #117
Hi, @jmclean-starburst thanks for making an issue! Would you mind sharing the output of

[code]

---

For integrating the `ksops-exec` plugin with an Argo CD custom image, the `ksops-exec` binaries are published with every release, so you can use `wget` to download the binary and make it available in the ArgoCD image

[2021-06-01 16:04] jmclean-starburst commented on #117
[code]

[2021-06-01 16:31] devstein commented on #117
The folder structure looks good, so it's an issue with the binary itself.  Can you rebuild `kustomize` and `KSOPS` and try re-build the manifests?

[code]

---

If you still encounter the same error, can you share the following outputs

1. `kustomize version`
2. `go env`

[2021-06-01 17:20] jmclean-starburst commented on #117
1. `make kustomize`
This failed w/ the below
[code]

2. `make install`
[code]
3. `kustomize build --enable-alpha-plugins .`
* Yielded same issue as original post.

Kustomize Version: 4.1.3
Go Version: 1.15.6

[code]

[2021-06-01 17:32] devstein commented on #117
Thanks @jmclean-starburst! The source of the issue is from step `1.`

The installation error

[code]

indicates that the `kustomize` binary installed via Go is not within your `PATH`. See instructions for fixing [here](https://golang.org/doc/gopath_code#GOPATH).

In order to use `kustomize` Go plugins, you need to install `kustomize` via Go. That is why `kustomize` if failing to load the plugin an

[2021-06-01 17:32] #117 closed

[2021-06-01 17:38] jmclean-starburst commented on #117
thank you for the response. your google abilities are superior to mine ;)

[2021-06-09 09:03] hroyg opened #118 "override helm secret"
Hi ,
We are using ksops with kustomize plugin for argocd , argocd application is pointing to the path the  secret i located and using a "generators"  stanza in the kustomization.yam  file we call the ksops plugin to decry-pt and create the secret.
in the same kustomization.yaml file we also have a "base" stanza that points to another argocd application that installs a Helm Chart  for us with helm3

[2021-06-10 01:26] devstein commented on #118
Hi @hroyg thanks for making an issue! Can you please share the output of `kustomize version` and the exact error message?

At a glance, the only difference from the example `kustomization.yaml` you shared and the [example in the tests](https://github.com/viaduct-ai/kustomize-sops/blob/master/test/behaviors/kustomization.yaml) is the use of the deprecated `bases` key. Can you replace `bases` with `

[2021-06-15 14:52] #118 closed

[2021-06-21 13:20] jmclean-starburst opened #121 "ksops-exec on custom argoCD image not working"
This used to be working, but recently it stopped with the 2.5.6 version of ksops

Error:
[code]

Dockerfile:
[code]

kustomize version:
[code]

[2021-06-21 19:47] devstein commented on #121
@jmclean-starburst Thanks for making an issue. I'm surprised the command used to work in previous versions because the issue is in the Dockerfile. The `ksops-exec` plugin isn't setup in the current example Dockerfile. What you want is

[code]

[2021-06-21 20:24] jmclean-starburst commented on #121
Thanks for your response @devstein , maybe ive been cross-eyed on this; if you wouldn't mind, can we keep this open and I will validate tomorrow? starting to wrap up the day.

[2021-06-22 12:57] jmclean-starburst commented on #121
@devstein sorry for the false alarm; ArgoCD must have always shown an `UNKNOWN` status with this error....it just happened to grab my attention after bumping to 2.5.6. I validated your Dockerfile build for the `ksops-exec` plugin and will close this issue.

[2021-06-22 12:57] #121 closed

[2021-06-25 08:05] imranismail opened #122 "M1 Build"

[2021-06-25 20:50] devstein commented on #122
Ho @imranismail can you please provide more details?

[2021-06-26 03:29] imranismail commented on #122
Hey apologies,

In my organization, there's one of our devs that uses the new M1 Mac with arm architecture. It'd be great if sops has a build for darwin and arm architecture.

[2021-06-27 21:26] #122 closed

[2021-06-27 21:27] devstein commented on #122
Thanks for the context @imranismail! This should be fixed in the next release

[2021-06-29 12:49] cameronkerrnz opened #124 "use with 'kubectl apply -k ...'"
Hello, I'm getting my feet wet with Kustomize and have started using the following pattern, now that kustomize is folded into kubectl:

[code]

I want to apply this to use it with Kustomize-SOPS (I'm on Windows, but the teams I working with are on Mac and Linux too), but I can't find any documentation around how to get ksops integrated with kubectl.

Right now I'm assuming that this is not a worka

[2021-06-29 20:28] devstein commented on #124
Hi @cameronkerrnz thanks for making an issue. To my knowledge (though admittedly I haven't checked since `kustomize` v4) it is not possible to use it directly with `kubectl apply -k`.

The suggested pattern is

[code]

This builds the manifests with `kustomize` then applies the `stdout` (`-`) with `kubectl`

[2021-06-29 20:28] #124 closed

[2021-07-04 12:58] daurnimator commented on #110
Any further thoughts?

[2021-07-06 10:18] cameronkerrnz opened #125 "How to encrypt (non JSON/YAML) files as secrets?"
I'm new to KSOPS and Kustomize. I'm wanting to use Kustomize and KSOPS to encrypt a type (in this case a Python file that contains secrets for a Django application, but it could similarly be something like a wallet or a licence file.)

I know SOPS itself can do this, because I can do a 'sops -e secrets.py' and a subsequent 'sops -d' on it.
I know that Kustomize could use its secrets_generator func

[2021-07-07 16:31] devstein commented on #125
Hi @cameronkerrnz thanks for making an issue! Unfortunately, the scenario you are describing is not possible with KSOPS.  KSOPS design is intentionally simple and only works with encrypted kubernetes resources. KSOPS doesn't generate the Kubernetes resource for you like the `secretGenerator`.

If you want to avoid embedding the Python file in a YAML, I recommend checking out alternative [kustomize

[2021-07-07 16:31] #125 closed

[2021-07-07 16:33] devstein commented on #110
Hi @daurnimator thanks for following up. Yes, after thinking it through I'm going to deprecate the Go plugin in the next major release. I don't have a timeline for the release, but will tag you in the PR

[2021-07-15 07:16] imranismail opened #126 "stringData merge not working"
- Exec plugin
- Plugin version v2.5.7
- Kustomize Version 3.10.0

[code]

`$ kustomize build --enable_alpha_plugins dev`

Unexpected output:

[code]

Expected output:

[code]

[2021-07-24 22:11] devstein commented on #110
@daurnimator please review https://github.com/viaduct-ai/kustomize-sops/pull/127

[2021-07-24 22:22] devstein commented on #126
Hi @imranismail thanks for making an issue and providing instructions to reproduce!

You are right that this behavior is unexpected, but this logic is controlled by `kustomize` not KSOPS. Please make an issue in the [kustomize repo](https://github.com/kubernetes-sigs/kustomize/issues) to find a solution.

[2021-07-24 22:22] #126 closed

[2021-08-04 08:12] majinghe opened #128 "plugins failed to load"
Hi team

when i try to install `ksops` accroding to the docs

Step 1: gpg and sops are ready

[code]
Step 2: install kustomize with brew
[code]
Step 3: build sops
[code]

Step 4: running `kustomize build --enable-alpha-plugins .`

But get the error
[code]

My go env is here
[code]

I tried again and again, but not work? Any suggestion for this, does this caused by the version of kustomize?

[2021-08-04 13:49] majinghe commented on #128
Hi, i have find the root cause, after installing the `kustomize` using `make kustomize` instead of `brew install kustomize`. I will close this issue.

[2021-08-04 13:49] #128 closed

[2021-08-10 16:51] ede-n opened #129 "Release ksops with support for v4.2.0 of kustomize"
Can we get a new version of ksops released with `v4.2.0` of kustomize?

[2021-08-10 17:03] #129 closed

[2021-08-29 20:43] #110 closed

[2021-09-01 08:27] shuker85 opened #133 "KSOPS v3.0.0 issue with ArgoCD v2.1.1"
![image (1)](https://user-images.githubusercontent.com/50396675/131638491-8c78db33-a294-447c-b402-c1a888d5c0a5.png)

Downgrade to v.2.6.0 fixed the problem for us.

[2021-09-01 11:14] devstein commented on #133
Hi @shuker85 thanks for making an issue. The error is coming from `kustomize` not `KSOPS`, so it's interesting that downgrading fixed it. To help me debug, can you share more information about your setup?

1. How are you integrating KSOPS + Argo CD? (Custom Docker build, repo server patch, helm w/ custom tooling)
2. Can you provide an example manifest(s) with that represents the kustomize function

[2021-09-01 11:19] devstein commented on #133
For context, [this is where the error is thrown](https://github.com/kubernetes-sigs/kustomize/blob/28707bf5dfe795e9656628115c629b073f0addb1/api/internal/utils/makeResIds.go#L39-L48)

[2021-09-01 15:54] shuker85 commented on #133
Hi, we're using the repo server patch approach with initiContainers and we do have `nameSuffix` present

[code]

[2021-09-01 17:00] devstein commented on #133
@shuker85 Thanks for sharing. Do you have a KSOPS manifest in this overlay or the base?

[2021-09-01 18:27] devstein commented on #133
Thanks! And the last question

[2021-09-01 18:41] shuker85 commented on #133
Locally kustomize build worked fine :/

[2021-09-01 18:59] devstein commented on #133
Interesting...what is your local kustomize version?

[code]

[2021-09-01 19:22] shuker85 commented on #133
I've downloaded latest 4.3.0, as i can see Argo is on 4.2

[2021-09-01 21:32] devstein commented on #133
@shuker85 I released [v3.0.1](https://github.com/viaduct-ai/kustomize-sops/releases/tag/v3.0.1), which include `kustomize v4.3.0` in the Docker image. Please let me know if this resolves the issue; otherwise, we can keep digging into it!

[2021-09-08 17:12] shuker85 commented on #133
New version works fine.
Kudos

[2021-09-08 17:12] #133 closed

[2021-09-08 17:22] evercast-chris commented on #133
Hello, I have been trying to connect KSOPS with ArgoCD for a while now. I seem to not be having luck with the **kustomize.buildOptions: "--enable-alpha-plugins"** command in the argo-cd configmap via the strategic merge patch with init containers. KSOPS works fine locally and the patch on the argo-cd-configmap is done correctly as well. Is it possible im using old version? **argocd is 2.0.4 and ku

[2021-09-08 17:35] devstein commented on #133
Hi @evercast-chris would you mind sharing the error message you are seeing?

If you are using `kustomize` from the KSOPS image, then you are on [KSOPS v2.5.0](https://github.com/viaduct-ai/kustomize-sops/releases/tag/v2.5.0).

If that is the case, you should use the [repo server patch from  v2.5.0](https://github.com/viaduct-ai/kustomize-sops/tree/v2.5.0#ksops-repo-sever-patch). Alternatively, use

[2021-09-08 18:07] evercast-chris commented on #133
Thanks @devstein for getting back to me. Yes KSOPS v2.5.0 sounds correct. If that is the case does that mean I should change the `image: viaductoss/ksops:v3.0.1` to --> `image: viaductoss/ksops:v2.5.0` inside the repo sever patch and also changing the build options to -->  `kustomize.buildOptions: "--enable_alpha_plugins"`

[2021-09-08 18:13] evercast-chris commented on #133
@devstein here is the error I am getting from **ArgoCD..**.

`Unable to create application: application spec is invalid: InvalidSpecError: Unable to generate manifests in base rpc error: code = Unknown desc = 'kustomize build' (my_git_repo) --enable_alpha_plugins' failed exit status 1: Error: unknown flag: --enable-alpha-plugins`

[2021-09-13 19:34] evercast-chris opened #134 "KSOPS Issue With Strategic Merge Patch In ArgoCD"
Hello, I have been trying to connect KSOPS with ArgoCD for a while now. I seem to not be having luck with the `kustomize.buildOptions: "--enable-alpha-plugins"` command in the argo-cd configmap via the strategic merge patch with init containers. KSOPS works fine **locally** and the patch on the argo-cd-configmap is done correctly as well but still nothing.

I recently also tried using the ksops 2.

[2021-09-15 05:16] evercast-chris commented on #134
@devstein

[2021-09-15 18:09] devstein commented on #134
Hi @evercast-chris thanks for making an issue. Can you paste the output `yaml` for the `deployment.apps/argocd-repo-server` after it's patched? This way I can give more specific advice

[2021-09-15 19:02] evercast-chris commented on #134
[code]

[2021-09-15 19:03] evercast-chris commented on #134
sorry its a long manifest, but thats what I have after patching to repo-server @devstein

[2021-09-16 02:26] devstein commented on #134
@evercast-chris The patch is missing

[code]

Let me know if you run into any more errors. Just comment the error here.

[2021-09-16 04:02] evercast-chris commented on #134
@devstein I think we're on the right track. I added the env variable but am still getting an error from argocd when creating an application. Here is the information below.

Here's what the **ArgoCD error** looks like:

`Unable to create application: application spec is invalid: InvalidSpecError: Unable to get app details: rpc error: code = Unknown desc = `kustomize build /tmp/git@github.com_everca

[2021-09-16 16:19] devstein commented on #134
@evercast-chris Based on those environmnet variables you shared, they aren't getting set properly in Argo CD. `XDG_CONFIG_HOME` should be set to `/.config` not `~/.config`

[code]

I recommend re-reviewing the [repo server patch](https://github.com/viaduct-ai/kustomize-sops#ksops-repo-sever-patch) in the README.

[2021-09-16 17:47] evercast-chris commented on #134
@devstein I changed the env variable but still getting the same result. I would like to try to re-patch but im struggling to find a command that actually successfully patches this to the deployment file. The closest command I can find is the follow --> ```
[code]
[code]

[2021-09-16 17:51] evercast-chris commented on #134
@devstein as you can see the patch has **no changes** but its a different patch i am trying why am I getting no changes? This has happend often in the process. The patch I am currently trying again to patch is the following...

[code]

[2021-09-16 18:28] devstein commented on #134
@evercast-chris The patch is incompatible with `KSOPS v3`. If you look again at the [README](https://github.com/viaduct-ai/kustomize-sops#ksops-repo-sever-patch) it should look like

[code]

Notice the difference in `step #2` and `step #3` (shouldn't have a `.so` suffix on the executable)

[2021-09-16 22:55] evercast-chris commented on #134
Thank you for taking a look @devstein im going to try this on my primary argocd environment so I have a clean **deployment** to work with. I want to confirm if I should be using the command `kustomize.buildOptions: "--enable-alpha-plugins"` in my **configmap**. Also, I am patching **argo-cd-repo-server-ksops-patch.yaml** from my "yamls" folder on my desktop, would the following command still be an

[2021-09-16 23:44] devstein commented on #134
Yes

I _think_ it should work, but I always use `kustomize` to build and patch the manifests and then `kubectl apply` the generated output directly

[2021-09-17 00:21] evercast-chris commented on #134
@devstein Ok cool I think when it comes to kustomize to patch this file, I don't have the ArgoCD manifests in a repo anywhere its just in the cluster under the ArgoCD namespace. Is the kustomize command for patching using the **strategicmergepatch** in a kustomization.yaml or is there actually an actual command for **patch**, such as there is for the **build** command?

[2021-09-17 14:38] devstein commented on #134
Got it, if this is a one-off operation and you want to sanity check the results  with `kustomize` you could

1. Use `kubectl` to get the current Argo CD manifest and export it locally
[code]
2. Create a `kustomization.yaml` file
[code]

3. Run `kustomize build` and `kubectl apply`
[code]

[2021-09-20 18:08] evercast-chris commented on #134
Hey @devstein thanks for the explanation its very helpful. Im getting an error trying to clarify what the **patches** part of the this kustomization.yaml file is doing here. It looks like im putting the output for **argo-repo-server** into base.yaml locally. So, im trying to confirm that I am patching the new patch and not the same patch over base.yaml, should I be patching the **argo-cd-repo-serv

[2021-09-20 18:19] devstein commented on #134
@evercast-chris Right!

[2021-09-20 20:27] evercast-chris commented on #134
@devstein Awesome it **built,** I just needed to **tweak the kustomization.yaml** a bit with

[code]

However, it is not allowing me to create the file. Im getting the following **error**:
`error: error validating "STDIN": error validating data: ValidationError(Deployment.metadata): unknown field "template" in io.k8s.apimachinery.pkg.apis.meta.v1.ObjectMeta; if you choose to ignore these errors, t

[2021-09-21 01:30] devstein commented on #134
Hey @evercast-chris you are right this is a syntax error in the `base.yaml`. I can help if you paste the contents here, but understand if there are any sensitive fields.

[2021-09-21 21:15] evercast-chris commented on #134
@devstein here is the base.yaml file I am using...

[code]

[2021-09-23 15:12] dalekurt opened #135 "Trouble decrypting file"
## Version
Argo CD `v2.1.2`
kustomizs-sops `{Version:v4.3.0+ksops.v3.0.1 GitCommit:v4@v4.3.0 BuildDate:2021-09-01T20:13:35Z GoOs:linux GoArch:amd64`

## What I've done so far

I have a AWS EKS cluster with permissions to KMS decrypt. SOPS config is using the KMS key to encrypt locally on my machine, commit and push to git.

_.sops.yaml_
[code]

Using a custom Argo CD container image with the kusto

[2021-09-23 15:23] dalekurt commented on #135
@devstein That was SUPER responsive, the AWS EKS cluster role has IAM permission to use the KMS key. However, I will do a sanity check the permissions.

[2021-09-23 19:07] dalekurt commented on #135
@devstein An update -- The pod required having a service account in order to have access to AWS KMS which was never created initially. I've created it and now working on the next issue.

I will go ahead and close this issue.

[2021-09-23 19:07] #135 closed

[2021-09-23 20:01] dalekurt opened #136 "ArgoCD is trying to create a KSOPS Kubernete resource"
## Version
Argo CD `v2.1.2`
kustomizs-sops `{Version:v4.3.0+ksops.v3.0.1 GitCommit:v4@v4.3.0 BuildDate:2021-09-01T20:13:35Z GoOs:linux GoArch:amd64`

## What I've done so far

_.sops.yaml_
[code]

Using a custom Argo CD container image with the kustomize-sops

_Custom Dockerfile_
[code]

The updated `argocd-cm` ConfigMap with the following:

[code]

Additionally, the following files are in the rep

[2021-09-23 20:06] devstein commented on #136
@dalekurt

1. What does the redacted Argo CD diff look like?
2. What does it look like after you sync the resource? If it fails, can you share the error message?

[2021-09-23 20:14] dalekurt commented on #136
Does this help?

_secrets.yaml_
[code]
_Application conditions_
![Screen Shot 2021-09-23 at 4 10 16 PM](https://user-images.githubusercontent.com/93077/134576960-8f456397-cc20-4e05-9101-9ff4fcd05e00.png)

[2021-09-23 20:30] devstein commented on #136
Thanks that is helpful, something is not correctly configured. My guess would have been that you are using `resources` instead of `generators` when referencing the `ksops` manifest in the `kustomization.yaml` file, but I see that is not the case in the one you shared.

Can you share the redacted diff shown when you click the `App Diff` button?

[2021-09-23 21:39] dalekurt commented on #136
![Screen Shot 2021-09-23 at 5 35 43 PM](https://user-images.githubusercontent.com/93077/134587733-1d5488c8-2027-4768-b176-48c8b0018468.jpg)

[2021-09-23 22:54] devstein commented on #136
Interesting @dalekurt looking at that diff there must be something incorrect in either the `kustomization.yaml` or Argo CD `Application`, essentially `kustomize` is rendering both the `Secret` and the `ksops` manifest as resources instead of using the `ksops` manifest as a `generator`

[2021-09-24 04:49] flickerfly opened #138 "Multi-tenant?"
I'd like ArgoCD to be the gateway for multiple users with unique keys to deploy resources onto my cluster. How can I assure one user can't decrypt another user's data with ArgoCD's access? I was looking at maybe KMS context as a solution to force injection of the project into the KMS request, but don't see the full path. Looks like SOPS supports it though.

[2021-09-24 13:56] dalekurt commented on #136
@devstein Thank you for the help so far. Just to cover all the bases the manifest for the Argo CD `Application` is as follows:

[code]

I will review the configuration as per your suggestion.

[2021-09-24 17:28] devstein commented on #138
Hi @flickerfly thanks for making an issue. This depends on your setup and the isolation requirements you are looking for.

If keys are unique to a specific Argo CD applications (no app has multiple keys), then my intuition would be to try something like

1. Use [Argo CD RBAC](https://argoproj.github.io/argo-cd/operator-manual/rbac/) to lock down user view permissions on the app-level
2. Allow Argo

[2021-09-24 17:35] devstein commented on #136
@dalekurt Two suggestions

1. Remove the directory section of the `Application` manifest
[code]

2. If that doesn't help, can you share the `sourceType` that Argo CD detects

[code]

[2021-09-29 21:29] evercast-chris commented on #134
@devstein any suggestions on this? I think I've tried just about everything to get this init container to patch correctly. Thanks.

[2021-10-05 14:09] dalekurt commented on #136
@devstein An update, I was able to resolve this issue. Apparently, the cluster had permission to access AWS KMS resources however the deployment(and pod) required a service account and annotation in order to use the KMS decrypt keys. Once that was done, KSOPS worked perfectly.

Thank you for the assist.

[2021-10-05 14:09] #136 closed

[2021-10-10 22:53] devstein commented on #134
Hey @evercast-chris. I assume you have already, but if you haven't tried from a fresh, non-running deployment of Argo CD I would recommend starting there. This is what the patch in the README is intended for.

The only alternative would be to pursue the [custom docker image approach ](https://github.com/viaduct-ai/kustomize-sops#custom-argo-cd-w-ksops-dockerfile) instead.

[2021-10-10 22:53] #138 closed

[2021-11-08 13:17] avodaqstephan opened #140 "Ksops with ArgoCD - key stored in Azure KV"
Hi folks,

I scanned the README and found instruction on how to add AWS keys to the argocd by adding the environment variables `AWS_ACCESS_KEY_ID` & `AWS_SECRET_ACCESS_KEY`.
By looking at the already closed issues I came across the instruction on how to handle them when GCP is used - [Click](https://github.com/viaduct-ai/kustomize-sops/issues/6).

I couldn't find anything on Azure KV, though. Can

[2021-11-08 15:34] szEvEz commented on #140
You could try out the [this](https://github.com/mozilla/sops#encrypting-using-azure-key-vault)

[2021-11-16 17:25] karlschriek commented on #69
@devstein Any guidance on the mimimum kustomize/ksops versions where the above works? We are currently locked to kustomize 3.x.

[2021-11-16 18:19] devstein commented on #69
@karlschriek Yes, if you are stuck on kustomize 3.x, you'll want to use [KSOPS v2.4.0](https://github.com/viaduct-ai/kustomize-sops/releases/tag/v2.4.0)

[2021-11-23 22:41] #140 closed

[2021-12-06 11:57] dickescheid opened #141 "Kustomize Exec-Plugin deprecated"
I noticed the Exec-Plugin for Kustomize is slated for deprecation:

https://kubectl.docs.kubernetes.io/guides/extending_kustomize/exec_plugins/

[2021-12-15 11:19] acuteaura commented on #126
https://github.com/viaduct-ai/kustomize-sops#mergepatch-a-base-secret sort of implies this should work, could you add this caveat to the README?

[2022-01-03 00:57] devstein commented on #141
Hi @dickescheid thanks for making an issue and flagging. I've been watching the development of the KRM-style kustomize plugins and will work to transition KSOPS to a Containerized KRM Function. I'll post updates to this ticket. Contributions are always welcome!

[2022-01-04 03:10] GuyPaddock opened #144 ""Read Me" References both ZSH and Bash RC in the same command snippet"
The readme provides a code snippet that defines `XDG_CONFIG_HOME` in the `.zshrc` and then sources the `.bashrc`. It should be consistent with the use of `.bashrc` or `.zshrc`.

[2022-01-04 22:16] devstein commented on #144
Thanks for noticing and making an issue @GuyPaddock

[2022-01-04 22:17] #144 closed

[2022-01-10 17:17] divick commented on #135
@dalekurt I am having the same issue as you faced above. The only difference is that my cluster is built using kops instead of EKS and I am not using IRSA for linking the service accounts with roles. In such a case I have to specify the permissions / policies directly to instances. But even after applying all kms permissions, it gives the same error.

@devstein Wouldn't specifying the AWS_ACCESS_K

[2022-01-10 22:29] devstein commented on #135
Hi @divick have you tried exec-ing into the pod to see what AWS role/user the pod has? If you are running into this issue, then the KMS permissions are either insufficient or not applied to the AWS role/user associated with the pod.

[2022-02-11 08:13] karlschriek opened #146 "Generate from (un)encrypted env files"
Our company serves customers with enterprise-grade Kubernetes ecosystems that we release as Kustomize manifests. Customers typically init the manifests by injecting certain variables (some of them sensitive). We have been working with SOPS/KSOPS the last few months to come up with a good workflow for them to use in order to encrypt/decrypt their manifests.

There are two things that would make our

[2022-03-07 02:38] james-callahan commented on #141
I think the deprecation notice may have been a bit eager. I have a comment over [here](https://github.com/kubernetes-sigs/kustomize/issues/4401#issuecomment-1020668734)

[2022-03-20 16:50] jeff-french opened #151 "Install script fails on M1 Mac"
When following the install instructions in the README on an M1 Mac I get the output:

[code]

This is due to the architecture detection not having support for M1 Macs therefore it doesn't build the correct url to download the Darwin ARM64 build.

This can be fixed by inserting:

[code]

after line 25 of the following function:

https://github.com/viaduct-ai/kustomize-sops/blob/e02d09fa2cd9e9f19f99

[2022-03-22 00:07] devstein commented on #151
@jeff-french Thanks for making a quality issue! Feel free to make a PR to fix; otherwise, I'll will later this week.

[2022-03-22 14:17] #151 closed

[2022-03-25 09:47] shay-berman commented on #141
Can you clarify @devstein if exec plugin or go plugin are becoming deprecation?
Which kustomzie sops tool is recoomanded to use?

[2022-03-25 16:00] devstein commented on #141
Hi @shay-berman the plan is to migrate KSOPS to a KRM Exec Function. There is no explicit timeline for the migration, nor is there a timeline for `kustomize` to drop support for the current plugin style (exec/go).

We are still using KSOPS at Viaduct internally and will continue to for the foreseeable future.

As you know there are several kustomize SOPS tools. They all accomplish the same task an

[2022-10-19 11:23] sthomson-wyn commented on #136
For future debuggers: removing
[code]
fixed this issue for me

[2022-11-17 19:08] lorenzophys opened #156 "Impossible to decrypt with AWS credentials"
Hello, I am trying to make `ksops` work with `ArgoCD` on `EKS`, but with no success. I know that the installation works and the `repo-server` setup is fine because I can run a dummy application, consisting of a single secret, encrypted with `age`.

Now I am trying to use `KMS` to encrypt the same secret, but I get `trouble decrypting file Error getting data key: 0 successful groups required, got 0

[2022-11-18 09:53] matemango commented on #156
I have exactly the same error with similar configuration. Can someone help us?

[2022-11-19 19:50] lorenzophys commented on #156
@matemango I spent the entire day trying to figure this out and the solution is simpler than I expected (as always). I'll write it down here hoping that it will save someone a day or two of frustration.

Basically when you `sops` a secret, `sops` reads the rules from `.sops.yaml` that, in my case was this:

[code]

and then appends a bunch of metadata to the encrypted secret. One of these metadata

[2022-11-19 19:50] #156 closed

[2022-11-21 10:59] matemango commented on #156
[code]

[code]

[code]
and still:

[code]

I have a secret without aws_profile defined, exported AWS_REGION, AWS_SECRET_ACCESS_KEY, and AWS_ACCESS_KEY_ID. User with correct permission, secret decrypted using these same credentials on local machine works - on the repo-server pod doesn't. Have you any other ideas?